//Pricing
h3.text-center.my-5 Pricing Us
.container
	.row
		.col-md-3
			.card.hvr-glow
				.card-body.text-center
					.card-title
						h3.text-muted Basic
						.display-4 $20
						hr
					.card-text
						p 2 Lorem
						p 3 Ipsum
						p 4 Lorem
						p 2 sit amet 
						p 5 consectetur 
						p 4 adipisicing 
						p 2 elit
						p 3 Quisquam
						hr
						a.btn.btn-primary.text-white Sign Up
		.col-md-3
			.card.hvr-glow
				.card-body.text-center
					.card-title
						h3.text-muted Standard
						.display-4 $40
						hr
					.card-text
						p 2 Lorem
						p 3 Ipsum
						p 4 Lorem
						p 2 sit amet 
						p 5 consectetur 
						p 4 adipisicing 
						p 2 elit
						p 3 Quisquam
						hr
						a.btn.btn-primary.text-white Sign Up
		.col-md-3
			.card.hvr-glow
				.card-body.text-center
					.card-title
						h3.text-muted Profesional
						.display-4 $50
						hr
					.card-text
						p 2 Lorem
						p 3 Ipsum
						p 4 Lorem
						p 2 sit amet 
						p 5 consectetur 
						p 4 adipisicing 
						p 2 elit
						p 3 Quisquam
						hr
						a.btn.btn-primary.text-white Sign Up
		.col-md-3
			.card.hvr-glow
				.card-body.text-center
					.card-title
						h3.text-muted Premium
						.display-4 $80
						hr
					.card-text
						p 2 Lorem
						p 3 Ipsum
						p 4 Lorem
						p 2 sit amet 
						p 5 consectetur 
						p 4 adipisicing 
						p 2 elit
						p 3 Quisquam
						hr
						a.btn.btn-primary.text-white Sign Up