extends ./layout/layout.jade

block title
	title index

block content
	section#sec-1.header_landing.bg-primary.text-white
		include parts/header/header.jade
	section#sec-2
		include parts/about_us.jade
	section#sec-3
		include parts/services/services.jade
	section#sec-4
		include parts/gallery.jade
	section#sec-5
		include parts/portafolio/portafolio.jade