.card.border-0
	.card-body
		form
			.form-group
				label Name
				input.form-control(type="text",placeholder="Name")
			.form-group
				label Email
				input.form-control(type="email",placeholder="Email")
			button.btn.btn-danger(type="submit") Call to Action

