//footer
footer
	.rounded-0.text-white.p-5.bg-dark
		.container
			.row
				.col-md-12.d-flex.flex-column.justify-content-center.align-items-center
					h3.titulo_footer  Contact Us.
					a.h4.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-clock-o  Mon - Sat - 9:00 - 18:00
					a.h4.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-envelope  info@demolink.org
					a.h4.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-map-marker  Rhidmand Usa 1343
					a.h4.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-phone     +233 434 243
					
		
					
//./footer